/* Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
/* IBM PLEX */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

body {
	/* background-color: #fafafa; */
	background-color: #14213d;
	font-family: 'Inter', sans-serif;
	overflow-x: hidden;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './custom.css';

:root {
	--black: #000000;
	--oxford-blue: #14213d;
	--orange-web: #fca311;
	--platinum: #e5e5e5;
	--white: #ffffff;
}
